#about-div {
    line-height: 1.5;
    overflow-x: auto; 
}

#about-div table {
    width: 100%;
    max-width: 600px; 
    margin: auto; 
    border-collapse: collapse;
}

#about-div th, #about-div td {
    padding: 8px;
    text-align: center; 
    border: 1px solid #ddd; 
    vertical-align: middle; 
}

#about-div th {
    background-color: #f2f2f2; 
}

#about-div img {
    width: 100px; 
    height: auto; 
}
