#customer-table {
	flex-grow: 1;
}



#customer-registration-div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	padding: 4em;
}

#customer-registration-div > input {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}

.customer-registration-row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 1;
}

.customer-registration-column {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	width: 30%;
}



#customer-edit-div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	padding: 4em;
}

#customer-edit-div > input {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}

.customer-edit-row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 1;
}

.customer-edit-column {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	width: 30%;
}

.customer-edit-column > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.customer-edit-column > div > .button {
    font-size: 0.8em;
    margin-left: 1em;
}



#customer-search-div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}

#customer-search-top {
    display: flex;
    align-items: center;
    padding: 0.25em;
}

#customer-search-top > .button5 {
    flex-shrink: 0;
	margin: 0.25em 1em;
}

#customer-search-fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 0.9em;
}

.customer-search-field {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	
	flex-grow: 1;
	margin: 0.25em 0.5em;
}

.customer-search-field > label {
	margin-bottom: 0.05em;
}

.customer-search-field > input {
}

.customer-search-field > div {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
}

.customer-search-field > div > label {
	font-size: 0.9em;
}

.customer-search-field > div > input {
	flex-grow: 1;
	margin: 0 0.5em;
}

.customer-search-field > div > input:last-child {
	margin-right: 0;
}

#customer-search-table {
	flex-grow: 1;
}

#customer-services-div {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	
	padding: 2em;
}

#customer-services-div > h2 {
	margin: 0.4em 0 0.8em;
}

#customer-services-table {
	flex-grow: 1;
}