#forgot-password-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#forgot-password-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.forgot-password-row {
	display: flex;
	flex-direction: row;
	align-items: center;
    padding: 0.5em;
}

.forgot-password-row > .icon {
	height: 3em;
	width: 3em;
}

.forgot-password-row > div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0.5em 0;
}

.forgot-password-label {
	font-size: 0.8em;
	margin: 0.2em 0 0.5em;
	
	max-width: 40em;
}

.forgot-password-label {
	font-size: 0.8em;
	margin: 0.1em 0 0.3em;
}