#help-div {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	flex-grow: 1;
	padding: 1em;
}

.help-button {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	padding: 1.5em;
    margin: 1.5em;
    line-height: 1.5;
    flex-basis: 0;
    flex-grow: 1;
}

.help-button > div:first-child {
    font-size: 1.35em;
    text-align: center;
}

.help-button > .icon {
	height: 9em;
	width: auto;
    margin: 1em;
}

.help-button > div:last-child {
	flex-grow: 1;
    text-align: justify;
}

#faq-div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;

    background-color: var(--background8);
    color: var(--on-background8);
	
    border-bottom-color: var(--accent);
    border-bottom-style: dashed;
    border-bottom-width: 1px;

	overflow-x: auto;
	
    line-height: 1.6;
    letter-spacing: 0.02em;
    word-spacing: 0.05em;
}

.faq-checkbox {
	display: none;
}

.faq-question {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	padding: 1em 4em;
	cursor: pointer;
	
    background-color: var(--background9);
    color: var(--on-background9);
	
    border-style: outset;
    border-width: 1px;
}

.faq-question:hover {
    background-color: var(--background9-hover);
    color: var(--on-background9-hover);
	
    border-style: outset;
}

.faq-question:active {
    background-color: var(--background9-active);
    color: var(--on-background9-active);
	
    border-style: inset;
}

.faq-question > .icon {
	font-size: 1.25em;
}

.faq-answer {
	display: none;
}

.faq-checkbox:checked + .faq-question > .icon {
    rotate: 90deg;
}

.faq-checkbox:checked + * + .faq-answer {
	display: block;
	text-align: justify;
	text-wrap: pretty;
	padding: 1.5em 6em;
}


#user-manual-div {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	
    min-height: 0;
	
    border-bottom-color: var(--accent);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

#user-manual-content-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	
    padding: 1em 1em 2em;
	
	background-color: var(--background2);
	color: var(--on-background2);
	
	overflow-y: auto;
}

#user-manual-content-list h4 {
	margin: 0.2em 0;
	text-align: center;
}

#user-manual-content-list-table,
#user-manual-content-list-table *
{
	background: none;
	border: none;
}

.user-manual-content-list-item {
	opacity: 0.7;
}

.user-manual-content-list-item.clickable {
	opacity: 1;
	cursor: pointer;
}

.user-manual-content-list-item.clickable:hover > .user-manual-content-list-number,
.user-manual-content-list-item.clickable:hover > .user-manual-content-list-title
{
	background-color: var(--background2-hover) !important;
	color: var(--on-background2-hover) !important;
}

.user-manual-content-list-item.clickable:active > .user-manual-content-list-number,
.user-manual-content-list-item.clickable:active > .user-manual-content-list-title
{
	background-color: var(--background2-active) !important;
	color: var(--on-background2-active) !important;
}

.user-manual-content-list-item.clickable.selected > .user-manual-content-list-number,
.user-manual-content-list-item.clickable.selected > .user-manual-content-list-title
{
	background-color: var(--background4) !important;
	color: var(--on-background4) !important;
}

.user-manual-content-list-item.clickable.selected:hover > .user-manual-content-list-number,
.user-manual-content-list-item.clickable.selected:hover > .user-manual-content-list-title
{
	background-color: var(--background4-hover) !important;
	color: var(--on-background4-hover) !important;
}

.user-manual-content-list-item.clickable.selected:active > .user-manual-content-list-number,
.user-manual-content-list-item.clickable.selected:active > .user-manual-content-list-title
{
	background-color: var(--background4-active) !important;
	color: var(--on-background4-active) !important;
}



#user-manual-content {
	background-color: var(--background3);
	color: var(--on-background3);
	flex-grow: 1;
	flex-basis: 0;
	min-height: 0;
	
    font-family: sans-serif;
    padding: 1em 2em 4em;
    line-height: 1.5;
    text-align: justify;
    text-wrap: pretty;
	
	overflow-y: auto;
}

#user-manual-content img {
    max-width: 100%;
    max-height: 15em;
    border-style: solid;
    border-width: 1px;
}

#user-manual-content p {
    text-indent: 2em;
}