#sales-record-table {
	flex-grow: 1;
}

#sales-record-services-column {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
}

#sales-record-services-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#sales-record-creation-div,
#sales-record-edit-div,
#sales-record-services-div
{
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	
	flex-grow: 1;
	padding: 1em 2em;
}

#services-edit-div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	padding: 2em 4em;
}

#sales-record-creation-div > div,
#sales-record-edit-div > div,
#sales-record-services-div > div
{
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	padding: 1em;
}

#sales-record-creation-div > div:first-child,
#sales-record-edit-div > div:first-child,
#sales-record-services-div > div:first-child
{
	justify-content: space-between;
	align-items: stretch;
	flex-grow: 0;
}

#sales-record-creation-div > div:last-child,
#sales-record-edit-div > div:last-child,
#sales-record-services-div > div:last-child
{
	justify-content: stretch;
	align-items: stretch;
	flex-grow: 1;
}

#sales-record-creation-services-table,
#sales-record-edit-services-table,
#sales-record-services-services-table,
#services-edit-table
{
	flex-grow: 1;
}

#sales-record-creation-services-table tfoot th,
#sales-record-edit-services-table tfoot th,
#sales-record-services-services-table tfoot th
{
	text-align: right;
}

.sales-record-creation-field,
.sales-record-edit-field,
.sales-record-services-field
{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
}

.sales-record-services-field > h4
{
	margin: 0.2em 0 0;
}

.sales-record-edit-field > div
{
    display: flex;
    align-items: center;
}

.sales-record-edit-field > div > .button {
    font-size: 0.8em;
    margin-left: 1em;
}
