body {
	font-family: sans-serif;
	line-height: 1.35;
	letter-spacing: 0.02em;
	font-size: 1.5vw;
}

table {
	border-collapse: collapse;
	font-size: 1em;
}

td, th {
	padding: 0.5em;
	border-style: solid;
	border-width: 1px;
	word-break: normal;
}

.number-td {
	font-family: monospace;
	text-align: right;
}

.wrap {
	text-wrap: wrap;
}

.nowrap {
	text-wrap: nowrap;
}

.formatting-table {
	width: 100%;
	margin: 0;
	padding: 0;
}

.formatting-table > thead > tr > td,
.formatting-table > thead > tr > th,
.formatting-table > tbody > tr > td,
.formatting-table > tbody > tr > th,
.formatting-table > tfoot > tr > td,
.formatting-table > tfoot > tr > th
{
	border-style: none;
	margin: 0;
	padding: 0;
}

#footer-space,
#header-space
{
	display: none;
}

@media print {
	body {
		font-size: 12px !important;
		margin: 0;
	}
	
	#footer-space,
	#header-space
	{
		display: block !important;
		opacity: 0;
	}

	#header {
		width: 100%;
		position: fixed;
		top: 0;
	}

	#footer {
		width: 100%;
		position: fixed;
		bottom: 0;
	}
}

/* @page { */
  /* @bottom-center { */
    /* content: 'asdad'; */
  /* } */
/* } */

/* .page-number { */
    /* display: table-footer-group; */
/* } */

/* .page-number:after { */
    /* counter-increment: page; */
	/* content: counter(page); */
/* } */